@import url('https://fonts.googleapis.com/css?family=Lobster');

.cirofort-main{
  width: 100%;
  background: #e6dada; /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #e6dada, #274046); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #e6dada, #274046); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: "Lobster", sans-serif;
  padding-bottom: 15px;
}

.cirofort-main__container{
  width: 100%;
  max-width: 1062px;
  margin: 0 auto;
}

.cirofort-main__container--score{
  font-size: 45px;
}

.cirofort-main__container--fortune-circle{
  margin-left: 243px;
  width: 55%;
  margin-top: 70px;
  z-index: 0;
  filter: drop-shadow(0px 0px 20px black);
}


.cirofort-main__container--for-triangle{
  position: relative;
}

.cirofort-main__container--for-triangle::before{
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 95px 30px 0 30px;
  border-color: #959595 transparent transparent transparent;
  position: absolute;
  left: 505px;
  top: 17px;
  z-index: 1;
  filter: drop-shadow(5px 0px 5px black);
}
